# Discord OAuth2 Credentials
# Get these from https://discord.com/developers/applications
DISCORD_CLIENT_ID=1493482964246593556
DISCORD_CLIENT_SECRET=1LrxLscLvABec4zrjbCtIg_tNItC6zv2

# NextAuth Configuration
# Run `openssl rand -base64 32` to generate a secret
NEXTAUTH_SECRET=i9VgurqsQcL16DlHm9nR3SXquE3dJW9jv49RujWADXc=
NEXTAUTH_URL=http://localhost:3000

# Database Bridge
# The path is relative to the dashboard/prisma folder
DATABASE_URL="file:../../prisma/dev.db"
